{% extends 'basic.html' %}
{% block css%}
.card{
    width:80%;
    margin:auto;
    padding:40px;
    box-shadow:3px 2px 4px 2px rgba(0,0,0,0.35);
}
{% endblock %}
{% block body %}
<div class="container">
    <br>
    <div class="card">
    <h2>Company Registration</h2>
    <br>
    <form method="post"enctype="multipart/form-data">
        {% csrf_token %}
        {% if user_form.errors or profile_form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  Your Form Has Errors
                  {% for field in user_form %}
                      {% if field.errors %}
                          {{ field.errors }}
                      {% endif %}
                  {% endfor %}
                  {% for field in profile_form %}
                      {% if field.errors %}
                          {{ field.errors }}
                      {% endif %}
                  {% endfor %}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <div class="d-grid ">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
    </form>
</div>
<br>
<br>
</div>
{% endblock %}

