{% extends 'basic.html' %}
{% block css %}
        h5 {
          color: red;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.35);
        }
        .in{
            
            border-radius: 10px;
            border:none;
            height:40px;
            box-shadow: 2px 3px 4px 4px rgba(0,0,0,0.35);
            margin:10px;
        }
{% endblock %}

{% block body %}
<div class="center">
  
  
  
  <form class="card" action="/login_user/" method="POST">
    {% csrf_token %}
    <h2 class="text-center">Log in to your account</h2>
    <center>
    {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %}
</center>
    <br>
    <input class="in"type="text" name="username" placeholder="Username"/>
  
    <input class="in" type="password" name="password"placeholder="Password" />
    
    <br>
    <input type="submit" value="Submit"class="btn btn-primary full-width">
    <hr>
    <p class="text-center">Don't have a account? Register as a <a href="/stu_register/">Student</a> or <a href="/comp_register/">Company</a></p>
  </form>
</div>
{% endblock %}