{% extends 'basic.html' %}
{% load static %}

{% block css %}
.card{
  width:70%;
  margin:auto;
  border-radius:20px;
  box-shadow:2px 3px 4px 2px rgba(0,0,0,0.35);
  margin-top:30px;
  display:flex;
  flex-direction:row;
  padding:30px;
}  
.img-container{
  width:35%;
  border-right:1px solid black;

}
img{
  max-width:80%;
  
}
.content{
  width:65%;
  margin-left:20px;
}
{% endblock %}
{% block body %}
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome, {{user.username}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Placement Management System</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/student_dashboard/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student_profile_view">My Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  {% for job in job_posts %}
  <div class="card">
    <div class="img-container">
      <img src="{{job.company.logo.url}}" alt="">
    </div>
    <div class="content">
      <h3>{{job.designation}}-{{job.company.user.username}}</h3>
      <p><b>Package: {{job.salary}} LPA</b><br>
        <b>Requirements : </b>{{job.requirement}} <br>
        <b>Bond years : </b>{{job.bond_years}} <br>
        <b>Start date : </b>{{job.created_at}} <br>
        <b>Closing date : </b>{{job.closing_date}} <br><br>
        {% if job.id in applied_jobs %}
          <button type="button" class="btn btn-secondary" disabled>Applied</button>
        {% else %}
        <a href="/applyjob?job_id={{job.id}}"><button type="button" class="btn btn-success">Apply now</button></a>
        {% endif %}
      </p>
    </div>
  </div>
  {% endfor %}
{% endblock %}

  
  
